:root {
  /* VARIÁVEIS DAS CORES*/
  --text: #333;
  --back: #fff;
  --main: #e06c75;
}

img {
  /* IMAGENS */
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn {
  background-image: none;
  color: var(--main);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 80%;
  font-weight: bold;
  margin: 5px;
  padding: 0;
  text-transform: uppercase;
}

.btn:disabled {
  cursor: default;
}

.btn {
  background: var(--back);
  border-radius: 8rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 1rem;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  box-shadow: 0 20px 100px 1px hsla(0, 0%, 100%, 0.2);
  transform: translateY(-4px);
  will-change: box-shadow, transform;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  color: var(--text);
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: var(--main);
  margin-block-start: 40px;
  margin-block-end: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 30px;
}

h3 {
  font-style: italic;
}

p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 36px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  /* MENU SUPERIOR GERAL*/
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 70px;
  font-size: 15px;
  text-align: right;
  padding: 12px 0 0 0;
  position: fixed;
  z-index: 1;
  background-color: chocolate;
}

.navbar a {
  /* LINKS DO MENU SUPERIOR*/
  margin-right: 40px;
  color: var(--text);
}


.container {
  /*WEBSITE NUM GERAL */
  width: 100%;
}

.clear {
  /* ESPAÇO EM BRANCO DO WEBSITE EM GERAL */
  background-color: var(--back);
  height: auto;
}

.nav-top {
  /* BARRA NO TOPO DO WEBSITE*/
  border-top: 8px solid var(--main);
}

.row {
  /* BLOCO DO CONTÉUDO INTEIRO DO WEBSITE */
  max-width: 63rem;
  margin: auto;
  display: block;
}

.content {
  /* CONTÉUDO DA NAVBAR */
  padding: 22px;
}

.wrapper {
  /* CONTÉUDO QUE ENGLOBA OS LINKSUTEIS + BLOCO CONTÉUDO INTEIRO DO WEBSITE - SIDE MENU */
  display: flex;
  padding: 22px;
}

.sidepanel {
  /* SIDE MENU */
  width: 200px;
  margin-top: 120px;
  background-color: var(--back);
  overflow-x: hidden;
  position: fixed;
  height: 80%;
}

.sidepanel a.title {
  /* TÍTULOS DO SIDE MENU */

  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  color: var(--main);
  display: block;
  padding-bottom: 12px;
}

.sidepanel a.section {
  /* ENTRYS DO SIDE MENU */
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: var(--text);
}

.sidepanel a.sub-section {
  /* SUB ENTRYS DO SIDE MENU */
  font-size: 15px;
  text-align: left;
  line-height: 25px;
  display: block;
  text-decoration: none;
  color: var(--text);
  padding-left: 20px;
}

.sidepanel a.title:hover,
.sidepanel a.section:hover,
.sidepanel a.sub-section:hover {
  /* HOVER EFFECT DO SIDE MENU */
  text-decoration: underline;
}

.right-col {
  /* CONTÉUDO COM LINKSUTEIS */
  margin-top: 100px;
  text-align: left;
  width: 100%;
  margin-left: 220px;
}

.right-col a {
  /* LINKS NOS LINKS-UTEIS */
  color: var(--main);
}


.logo {
  /* logotipo do website */
  width: 150px;
  float: left;
  margin: -10px 30px;
}

.divider {
  /* BARRAS DE SEPARAÇÃO DOS LINKS-UTEIS (TAMBÉM AFETA A BARRA DO SIDE MENU)*/
  width: 40px;
  height: 4px;
  background: var(--main);
  border-radius: 30px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.left {
  /* BARRAS DE SEPARAÇÃO DO SIDE MENU */
  margin: 20px 0;
}

.space {
  /* ESPAÇOS INVISIVEIS */
  height: 30px;
  width: 100%;
  float: left;
}

.double {
  /* O DOBRO DO ESPAÇO INVISÍVEL */
  height: 60px;
}

/* Break Points */

/* Extra small-small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
  .logo {
    width: 100px;
  }

  .navbar {
    height: auto;
  }

  h2 {
    font-size: 24px;
  }

  .links {
    float: none;
  }
}

/* Extra small devices (phones, 650px and down) */
@media only screen and (max-width: 650px) {
  .logo {
    width: 115px;
    margin: -10px 0px;
  }

  .navbar a {
    padding-bottom: 5px;
    margin-left: 40px;
    margin-right: 0;
  }

  .resp-break {
    display: block;
    margin: 17px;
  }

  .main-col {
    width: 100%;
  }

  .wrapper {
    display: block;
  }

  .sidepanel {
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
  }

  .sidepanel a.title,
  .sidepanel a.section,
  .sidepanel a.sub-section {
    text-align: center;
  }

  .left {
    margin: 20px auto;
  }

  .right-col {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 650px and up) */
@media only screen and (min-width: 650px) {
  .logo {
    margin: -10px 0px;
  }

  .right a {
    float: right;
    padding-bottom: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    margin: -10px 0px;
  }
}